html {
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

canvas {
    image-rendering : optimizeSpeed;
    image-rendering : -moz-crisp-edges;
    image-rendering : -webkit-optimize-contrast;
    image-rendering : -o-crisp-edges;
    image-rendering : pixelated;
    -ms-interpolation-mode : nearest-neighbor;
}

@keyframes blink {
	0% { opacity : 0.0; }
    39% { opacity : 0.0; }
	40% { opacity : 1.0; }
	100% { opacity : 1.0; }
}

.BLINK_CURSOR {
    opacity:1.0;
    animation : blink 1.2s infinite;
}

.HIDDEN_CURSOR {
    opacity:0.0;
    animation : none;
    z-index: -1000;
}
